.SC_SubMenuApp .scBtnGrpBackground { background-color: #FFFFFF; border-color: #A8D4C7; border-style: none; border-width: 0; border-collapse: collapse; padding: 0; z-index: 99999; text-align: left }
.SC_SubMenuApp .scBtnGrpText { background-color: #FFFFFF; padding: 6px 52px 6px 15px; cursor: pointer; white-space: nowrap; color: #6c757d }
.SC_SubMenuApp .scBtnGrpTextOver { background-color: #EFF2F7 }
.SC_SubMenuApp .scBtnGrpLink { color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-shadow: 12px; text-decoration: none }
.SC_SubMenuButton .scBtnGrpBackground { text-align: left }
.SC_SubMenuButton { z-index: 1000 }
.SC_SubMenuApp { z-index: 1000 }
