.scFormPage { background-image: url(../../img/grp__NM__bg__NM__servico2.jpeg); background-position: top center; background-repeat: no-repeat; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; margin: 20px; text-decoration: none }
.scFormBorder { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 0; margin: css_form_moldura_margin; border-collapse: collapse; border-color: #E0E6ED; border-style: solid; border-width: 1px }
.scFormPageText { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormColorPaleteItem { background-size: contain; cursor: pointer; width: 16px; height: 16px; display: inline-block; margin: 0 2px 0 0; border-width: 1px; border-style: solid; border-color: #000 }
.scFormColorPaleteItemChecked { background-image: url(../../img/scriptcase__NM__ico__NM__check_checkbox.png) }
.scFormHeader { background-color: #3C4858; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #3C4858; border-style: solid; border-width: 1px }
.scFormHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 14px; text-decoration: none }
.scFormFooter { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFormFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormToolbarNav { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #8492A6; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold; text-decoration: none; padding: 0; text-align: center; width: 34px; height: 34px; line-height: 34px; display: inline-block; box-sizing: border-box }
.scFormToolbarNavOpen { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #1FB6FF; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold; text-decoration: none; border-style: none; padding: 0; text-align: center; width: 34px; height: 34px; line-height: 34px; display: inline-block; box-sizing: border-box }
.scFormToolbar { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 10px 20px; border-color: #E0E6ED; border-style: solid; border-width: 1px 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; margin: -2px -1px }
.scFormToolbarPadding { padding: 10px 20px }
.scFormToolbarInput { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; padding: 0 10px; text-decoration: none; vertical-align: middle; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; height: 34px; line-height: 34px }
.scFormToolbarInputText { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; background: transparent }
.scFormToolbarInputText:focus { outline: none !important }
.scFormToolbarInput:focus { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; color: #3C4858; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scFormToolbarInputWm { color: #3C4858 }
.scFormTable { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #E0E6ED; border-style: solid; border-width: 1px; margin: 20px auto; width: 95% }
.scFormTableTd { padding: 0 }
.scFormLabelLink { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFormLabelOdd { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; color: #8492A6; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 10px 15px; text-decoration: none; vertical-align: top }
.scFormHelpOdd { background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 1em; padding: 0 4px }
.scFormLabelOddMult { background-color: #E0E6ED; background-image: none; border-color: #c6d0dc; border-style: solid; border-width: 1px; color: #8492A6; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 12px 15px; text-decoration: none; vertical-align: middle }
.scFormHelpOddMult { background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 1em; padding: 0 4px }
.scFormLabelOddMult:hover { background-color: #d7dce3; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #8492A6; text-decoration: none; border-color: #c6d0dc; border-style: solid; border-width: 1px }
.scFormLabelOddMult:hover .scFormLabelLink { color: #8492A6 }
.scFormHelpOddMult:hover { background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 1em; padding: 0 4px }
.scFormLabelOddFormat { color: #8492A6; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormLabelOddFormatMult { color: #8492A6; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormRequiredOdd { color: #9f3a38; font-family: Arial; font-size: 13px; font-weight: bold }
.scFormRequiredOddMult { color: #f75959; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormRequiredOddColor { color: #9f3a38; font-family: Arial; font-size: 13px; font-weight: bold }
.scFormRequiredOddColorMult { color: #f75959; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormObjectOdd, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; padding: 7px 10px; text-decoration: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px }
.scFormObjectOddPwdBox { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; padding: 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; display: inline-block }
.scFormObjectOddPwdInput { padding: 7px 10px; border-width: 0; border-style: none; background-color: transparent }
.scFormObjectOddPwdText { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.select2-container--default .select2-selection { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px }
.scFormPage .ui-menu .ui-menu-item, .scFormTable .select2-container--default .select2-selection--single .select2-selection__rendered, .scFormPage .select2-container--default .select2-results__option[aria-selected="true"] { color: #3C4858 }
.jSignature { background-color: #F9FAFC }
.scFormPage .ui-menu .ui-menu-item, .scFormPage .select2-container .select2-dropdown, .scFormPage .select2-container--default .select2-results__option[aria-selected="true"] { background-color: #F9FAFC; border-color: #E0E6ED }
.scFormObjectOddMult, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; padding: 7px 10px; text-decoration: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px }
.scFormObjectOddMultPwdBox { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; padding: 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; display: inline-block }
.scFormObjectOddMultPwdInput { padding: 7px 10px; border-width: 0; border-style: none; background-color: transparent }
.scFormObjectOddMultPwdText { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormTable .select2-container--default .select2-selection--single .select2-selection__rendered { color: #3C4858 }
.scFormObjectOddSpin { font-family: Arial, sans-serif !important; font-size: 13px !important }
.scFormObjectOddMultSpin { font-family: Arial, sans-serif !important; font-size: 13px !important }
.scFormObjectFocusOdd, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector:focus { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; padding: 7px 10px; text-decoration: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); outline: none }
.scFormObjectFocusOddPwdBox { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; border-style: solid; border-width: 1px; padding: 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); display: inline-block }
.scFormObjectFocusOddPwdInput { padding: 7px 10px; border-width: 0; border-style: none; background-color: transparent; outline: none }
.scFormObjectFocusOddPwdText { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormObjectFocusOddMult, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector:focus { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; padding: 7px 10px; text-decoration: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); outline: none }
.scFormObjectFocusOddMultPwdBox { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; border-style: solid; border-width: 1px; padding: 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); display: inline-block }
.scFormObjectFocusOddMultPwdInput { padding: 7px 10px; border-width: 0; border-style: none; background-color: transparent; outline: none }
.scFormObjectFocusOddMultPwdText { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormDataOdd { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #8492A6; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 4px; text-decoration: none; display: css_form_campo_impar_simples_display }
.scFormDataHelpOdd { background-image: none; opacity: 1; filter: alpha(opacity=100); color: rgb(0,0,0,.65); padding: 0 4px; margin: 3px 0 0 0; letter-spacing: 1px; text-transform: uppercase; display: inline-block }
.scFormDataTagOdd { opacity: 1; filter: alpha(opacity=100); font-size: 1em }
.scFormDataOddMult { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 0 0 1px 0; color: #333; font-family: Arial, sans-serif; font-size: 13px; padding: 12px 15px; text-decoration: none }
.scFormDataHelpOddMult { background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 1em; padding: 0 4px }
.scFormDataTagOddMult { opacity: 1; filter: alpha(opacity=100); font-size: 1em }
.scFormDataFontOdd { color: #8492A6; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormDataFontOdd input[type=checkbox] + label, .scFormDataFontOdd input[type=radio] + label { position: relative; top: -1px }
.scFormDataFontOddMult { color: #333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormDataFontOdd .highlight { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #ff0000; display: inline-block }
.scFormDataFontOddMult .highlight { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #ff0000; display: inline-block }
.scFormLinkOdd { color: #8492A6; text-decoration: underline }
.scFormLinkOddMult { color: #333333; text-decoration: underline }
.scFormLabelLinkOdd { text-decoration: none }
.scFormLabelLinkOddMult { color: #8492A6; text-decoration: none }
.scFormInputError { background-color: #FFF6F6; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #9f3a38; border-color: #e0b4b4 }
.scFormInputErrorPwdBox { background-color: #FFF6F6; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #9f3a38; border-color: #e0b4b4 }
.scFormInputErrorPwdText { color: #9f3a38 }
.scFormInputErrorMult { background-color: #ffaaaa; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #f75959; border-color: #e0b4b4 }
.scFormInputErrorMultPwdBox { background-color: #ffaaaa; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #f75959; border-color: #e0b4b4 }
.scFormInputErrorMultPwdText { color: #f75959 }
.scFormInputDisabled, .ui-dropdownchecklist-selector-wrapper > .ui-state-disabled { background-color: #CCCCCC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858 }
.scFormInputDisabledMult, .ui-dropdownchecklist-selector-wrapper > .ui-state-disabled { background-color: #CCCCCC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858 }
.ui-dropdownchecklist-selector-wrapper > .ui-state-disabled > .ui-dropdownchecklist-text { color: #3C4858 }
.sc-ui-pwd-eye { margin-left: 5px; margin-right: 5px }
.scFormDataDragNDrop { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8A8A8; border-style: dashed; border-width: 2px; color: #A8A8A8; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold; padding: 25px; text-decoration: none; margin: 15px 4px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scFormMessageTable { background-color: #F9EDBE; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #D8D8D8; border-style: solid; border-width: 1px; height: 40px; width: 280px }
.scFormMessageTitle { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 4px; text-decoration: none; vertical-align: middle }
.scFormMessageTitleFont { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormMessageMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; padding: 10px; text-decoration: none }
.scFormMessageMessageFont { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormErrorTable { background-color: #F9EDBE; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D8D8D8; border-style: solid; border-width: 1px; height: 30px; width: 320px }
.scFormErrorTitle { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 4px; text-decoration: none; vertical-align: middle }
.scFormErrorTitleFont { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormErrorMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; padding: 10px; text-decoration: none }
.scFormErrorMessageFont { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormErrorLine { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; padding: 12px 15px; letter-spacing: 0px; text-decoration: none }
.scFormFieldErrorTable { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-style: none; -moz-border-radius: css_fielderror_radius; -webkit-border-radius: css_fielderror_radius; border-radius: css_fielderror_radius; position: relative }
.scFormFieldErrorMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #9f3a38; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; vertical-align: middle }
.scFormBlock { background-color: #f2f2f2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px 0; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 12px 15px; text-decoration: none; vertical-align: middle }
.scFormBlockFont { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormBlockAlign { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFormProcess { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormProcessFixed { background-color: #FFF; border-style: none; height: 26px; padding-top: 13px; position: absolute; text-align: center; width: 350px }
.scFormHelpPage { background-image: none; background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFormPopupCorner { height: 15px; width: 19px }
.scFormPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFormPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFormPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFormPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFormPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFormPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFormPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFormPopupBottom img { display: block; margin: 0 auto }
.scFormPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFormPopupContent { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-decoration: none }
.scButtonMultiUploadSend { float: left }
.scButtonMultiUploadSend:hover { cursor: pointer }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-style: none }
.sc-cal-categ .sc-cal-categ-input-caret { position: absolute; cursor: default; top: 9px; right: 10px; font-size: 12px; transform: scale(1,0.75) }
.sc-cal-categ { position: relative }
.sc-cal-categ-item .sc-cal-categ-colorbox { width: 17px; height: 17px; float: left; margin-right: 10px }
.sc-cal-categ > .sc-cal-categ-input { box-sizing: border-box; width: 100% !important; display: block !important }
.sc-cal-categ-dropdown { position: absolute; top: 30px !important; left: 0px !important; width: 99% !important }
.scFormACTable { border-collapse: collapse; border-color: #E0E6ED; border-style: solid; border-width: 1px }
.scFormACTitle { background-color: #f2f2f2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px 0; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 8px 4px; text-decoration: none }
.ac_results { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999 }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px }
.ac_over { background-color: #E0E6ED; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 12px }
.ui-dropdownchecklist-text { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.ui-dropdownchecklist-selector { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px }
.ui-dropdownchecklist-dropcontainer { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px }
.scBtnPassField { margin: 10px 5px }
#sc_b_summary_b { font-size: 13px }
.fileinput-button-padding { margin-top: 5px }
.ui-front { z-index: 9999 }
#sc_b_navpage_t,#sc_b_navpage_b { padding: 0 }
.scAjaxDiv { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; border-collapse: collapse; border-style: none; padding: 15px 0 0 0 }
.lcs_checkbox_switch { display: inline-block; position: relative; overflow: hidden; transition: all .2s ease-in-out; width: 29px; height: 15px; border-radius: 30px; cursor: pointer; background-color: #DDDDDD; background-image: none; margin: 5px 7px }
.lcs_checkbox_switch:after { content: "\002714"; display: inline-block; position: absolute; overflow: hidden; top: 1px; left: 5px; font-size: 9px; transition: all .2s; opacity: 0; filter: alpha(opacity=0); color: #FFFFFF }
.lcs_checkbox_switch.lcs_on { background-color: #66afe9; background-image: none }
.lcs_checkbox_switch.lcs_on:after { opacity: 1; filter: alpha(opacity=100) }
.lcs_checkbox_switch .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: 1px; left: 1px; z-index: 10; transition: all .2s linear; width: 13px; height: 13px; border-radius: 100%; background-color: #FFFFFF; background-image: none }
.lcs_checkbox_switch.lcs_off .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: 1px; left: 1px; z-index: 10; transition: all .2s linear; width: 13px; height: 13px; border-radius: 100%; background-color: #FFFFFF; background-image: none }
.lcs_checkbox_switch.lcs_on .lcs_cursor  { left: calc(100% - 1px); transform: translateX(-100%) }
.lcs_radio_switch { display: inline-block; position: relative; overflow: hidden; transition: all .2s ease-in-out; width: 12px; height: 12px; border-radius: 100%; border-width: 1px; border-color: #66afe9; border-style: solid; cursor: pointer; background-color: rgba(0,0,0,0); background-image: none; margin: 5px 7px }
.lcs_radio_switch.lcs_off { display: inline-block; position: relative; overflow: hidden; transition: all .2s ease-in-out; width: 12px; height: 12px; border-radius: 100%; border-width: 1px; border-color: #66afe9; border-style: solid; cursor: pointer; background-color: rgba(0,0,0,0); background-image: none; margin: 5px 7px }
.lcs_radio_switch.lcs_on { background-color: rgba(0,0,0,0); background-image: none }
.lcs_radio_switch .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: -1px; left: -1px; z-index: 10; transition: all .1s linear; transform: scale(0); width: 14px; height: 14px; border-width: 1px; background-color: #66afe9; background-image: none }
.lcs_radio_switch.lcs_off .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: -1px; left: -1px; z-index: 10; transition: all .1s linear; transform: scale(0); width: 14px; height: 14px; border-width: 1px; background-color: #66afe9; background-image: none }
.lcs_radio_switch.lcs_on .lcs_cursor  { transform: scale(1); left: -1px }
.lcs_switch.lcs_on { box-shadow: none }
.lcs_checkbox_switch.lcs_switch.lcs_off { background-color: rgba(178, 178, 178, 0.4); box-shadow: 0px 0px 2px rgba(164, 164, 164, 0.8) inset }
.sc.switch, .sc.radio { margin: 2px 5px 2px 0 }
.sc.switch input, .sc.radio input { position: absolute!important }
.sc.switch span { min-width: 22px }
.sc.radio span { min-width: 12px; min-height: 12px }
.ui-slider-horizontal { background-color: #E0E6ED; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #FFFFFF !important; border-style: none; border-collapse: collapse; margin: 15px auto 0 auto; height: .5em !important }
.ui-slider-horizontal > .ui-slider-range { background-color: #8492A6; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-default { background: #8492A6 !important; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #FFFFFF !important; border-collapse: collapse; margin: 0 0 0 -7px !important; -moz-border-radius: 50% 50% 0; -webkit-border-radius: 50% 50% 0; border-radius: 50% 50% 0; top: -17px !important; -webkit-transform: rotateZ(45deg); -ms-transform: rotateZ(45deg); transform: rotateZ(45deg); outline: none }
.ui-slider-horizontal > .ui-slider-handle { width: 0.8em !important; height: 0.8em !important }
.ui-slider-horizontal > .ui-state-hover { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-active { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.sc-ui-100perc-table { table-layout: fixed }
.sc-ui-100perc-span-input { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center }
.sc-ui-100perc-span-select { display: flex; flex-grow: 1 }
.sc-ui-100perc-input { flex-grow: 1; width: 0 }
