.scSweetAlertHeader { background-image: none; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; opacity: 1; filter: alpha(opacity=100) }
.swal2-container .swal2-modal .swal2-title { color: #3C4858 }
.scSweetAlertMessage { background-image: none; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0 0 0 10px; opacity: 1; filter: alpha(opacity=100) }
.scSweetAlertPopup { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; padding: 1.5em }
.swal2-container .swal2-popup.swal2-toast .swal2-icon { font-size: .7em }
.swal2-container .swal2-modal { width: auto; padding: 2em 3em }
.scToastHeader { background-image: none; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; opacity: 1; filter: alpha(opacity=100) }
.scToastHeader,.swal2-container .swal2-title { color: #3C4858 }
.scToastMessage { background-image: none; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0 0 0 10px; opacity: 1; filter: alpha(opacity=100) }
.scToastPopup { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; padding: 1.5em }
.swal2-container .scToastPopup { box-shadow: 0 0 .25em #404040 }
