.scMenuHHeader { background-color: #3C4858; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #3C4858; border-style: solid; border-width: 1px }
_:-ms-lang(x), .ie10up, .scMenuHHeader { border-collapse: separate }
.scMenuHHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; text-shadow: none; padding: 0; text-decoration: none }
.ui-body-a, .ui-overlay-a, .ui-body-c, .ui-overlay-c { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-bar-b { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; padding: 0; text-align: left; text-decoration: none; background-color: #3C4858; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #3C4858; border-style: solid; border-width: 1px }
.ui-btn-up-a { background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; text-shadow: none; color: #3C4858; text-decoration: none; font-weight: bold; font-style: normal }
.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit { color: #3C4858 }
.ui-btn-hover-a { background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; text-shadow: none; color: #3C4858; text-decoration: none; font-weight: bold; font-style: normal }
.ui-btn-hover-a:visited, .ui-btn-hover-a:hover, .ui-btn-hover-a a.ui-link-inherit { color: #3C4858; background-color: #FFFFFF }
