.SC_SubMenuApp .scBtnGrpBackground { background-color: #FFFFFF; border-color: #E0E6ED; border-style: solid; border-width: 1px; border-collapse: collapse; padding: 0; z-index: 99999; text-align: left }
.SC_SubMenuApp .scBtnGrpText { background-color: #FFFFFF; padding: 6px 52px 6px 15px; cursor: pointer; white-space: nowrap; color: #3C4858 }
.SC_SubMenuApp .scBtnGrpTextOver { background-color: #EFF2F7 }
.SC_SubMenuApp .scBtnGrpLink { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; font-weight: bold; text-decoration: none }
.SC_SubMenuButton .scBtnGrpBackground { text-align: left }
.SC_SubMenuButton { z-index: 1000 }
.SC_SubMenuApp { z-index: 1000 }
