.select2-container--default .select2-selection { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED !important; border-style: solid !important; border-width: 1px !important; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterPage { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; margin: 20px; text-decoration: none }
.scFilterBorder { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; border-collapse: collapse; padding: 0 }
.scFilterTable { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #E0E6ED; border-style: solid; border-width: 1px; height: 50% !important; margin: 20px; width: calc(100% - 40px) }
.scFilterTableTd { padding: 0 }
.scFilterToolbar { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px 0 !important; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; margin: -2px -1px }
.scFilterToolbarPadding { padding: 10px 20px }
#sel_recup_filters_bot,#sel_filters_del_bot,.scFilterToolbar_obj { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0 10px; text-decoration: none; height: 34px; line-height: 34px }
#sel_recup_filters_bot,#sel_filters_del_bot,.scFilterToolbar_obj:focus { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; color: #3C4858; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scFilterHeader { background-color: #3C4858; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #3C4858; border-style: solid; border-width: 1px }
.scFilterHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFilterFooter { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFilterFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterBlock { background-color: #f2f2f2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 12px 15px; text-decoration: none; vertical-align: middle }
.scFilterBlockBack { background-color: #f2f2f2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; padding: 12px 15px }
.scFilterBlockFont { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFilterBlockAlign { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterLabelOdd { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 10px 15px; text-decoration: none }
.scFilterLabelEven { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 10px 15px; text-decoration: none }
.scFilterFieldOdd { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 0 0 1px 0; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 6px 4px; text-decoration: none }
.scFilterDataFontOdd { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterFieldFontOdd { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterFieldFontOdd input[type=checkbox] + label, .scFilterFieldFontOdd input[type=radio] + label { position: relative; top: -1px }
.scFilterFieldEven { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 0 0 1px 0; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 6px 4px; text-decoration: none }
.scFilterFieldFontEven { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterFieldFontEven input[type=checkbox] + label, .scFilterFieldFontEven input[type=radio] + label { position: relative; top: -1px }
.scFilterObjectOdd { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 7px 10px; text-decoration: none }
.scFilterObjectOdd:focus, .scFilterObjectOddAc { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; color: #3C4858; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scFilterObjectOddAc div.ui-menu-item-wrapper, .scFilterObjectOddAc div.ui-menu-item-wrapper.ui-state-active { background: none; border: none; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; margin: 0 }
.scFilterObjectEven { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 7px 10px; text-decoration: none }
.scFilterObjectEven:focus, .scFilterObjectEvenAc { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; color: #3C4858; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scFilterObjectEvenAc div.ui-menu-item-wrapper, .scFilterObjectEvenAc div.ui-menu-item-wrapper.ui-state-active { background: none; border: none; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; margin: 0 }
.scFilterACTable { border-collapse: collapse; border-color: #E0E6ED; border-style: solid; border-width: 1px; -moz-box-shadow: css_filter_moldurapagina_box_shadow; -webkit-box-shadow: css_filter_moldurapagina_box_shadow; box-shadow: css_filter_moldurapagina_box_shadow }
.scFilterACTitle { background-color: #f2f2f2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px 0; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 8px 4px; text-decoration: none }
.ac_results { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #E0E6ED; border-style: solid; border-width: 0 0 1px 0; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999 }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; border-width: 0 0 1px 0; border-color: #E0E6ED; border-style: solid }
.ac_over { background-color: #E0E6ED; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; border-width: 0 0 1px 0; border-color: #E0E6ED; border-style: solid }
.scFilterPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFilterPopupCorner { height: 15px; width: 19px }
.scFilterPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFilterPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFilterPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFilterPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFilterPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFilterPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFilterPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFilterPopupBottom img { display: block; margin: 0 auto }
.scFilterPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFilterPopupContent { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; font-weight: bold; text-decoration: none }
.scFilterRequiredOdd { color: #9f3a38; font-family: Arial; font-size: 13px; font-weight: bold }
.scFilterRequiredEven { color: #9f3a38; font-family: Arial; font-size: 13px; font-weight: bold }
.scBtnPassField { margin: 10px 5px }
.ui-slider-horizontal { background-color: #E0E6ED; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #FFFFFF !important; border-style: none; border-collapse: collapse; margin: 15px auto 0 auto; height: .5em !important }
.ui-slider-horizontal > .ui-slider-range { background-color: #8492A6; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-default { background: #8492A6 !important; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #FFFFFF !important; border-collapse: collapse; margin: 0 0 0 -7px !important; top: -17px !important; -webkit-transform: rotateZ(45deg); -ms-transform: rotateZ(45deg); transform: rotateZ(45deg); outline: none }
.ui-slider-horizontal > .ui-slider-handle { width: 0.8em !important; height: 0.8em !important }
.ui-slider-horizontal > .ui-state-hover { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-active { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scFilterPage .ui-menu .ui-menu-item, .scFilterTable .select2-container--default .select2-selection--single .select2-selection__rendered, .scFormPage .select2-container--default .select2-results__option[aria-selected="true"] { color: #3C4858 }
